@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  background-color: var(--color-slate-50);
  color: var(--color-slate-900);
  -webkit-font-smoothing: antialiased;
}

::selection {
  background-color: var(--color-blue-100);
}
